.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after {
  border-bottom: 2px solid #21bf96 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a,
.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #21bf96 !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

.card-spacing {
  margin-bottom: 1.5vh;
}

.investment-stat-card-text {
  margin-left: 1rem;
}

.investment-stat-card-title {
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.investment-stat-col {
  margin-left: 2em;
}

.dashboard-balance-card {
  width: "100%";
  border-radius: "5px";
}

.dashboard-card {
  width: "100%";
  padding: "8px 0";
  border-radius: "5px";
}

.best-supply-rate-image {
  padding-top: 5px;
}

.best-supply-rate-row {
  align-items: center;
}

.best-supply-rate-percent {
  color: #4fdfb1;
  width: 100%;
  text-align: center;
}
